body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#372e29;
  }
  
  .main_logo {
    margin-right: 40px;
    height: 90px;
    cursor: pointer;
  }
  
  .main_section {
    width:80%;
    margin:auto;
    overflow:hidden;
  
  
  }
  
  /* Global */
  .container{
  
    width:80%;
    margin:auto;
    overflow:hidden;
    color: #d2d2d2;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  li {list-style-type: none;}
  
  .button_sec {
    float: right;
    color: white;
    padding-left: 250px;
  }
  
  .button_2:hover {
    color: #726255;
  }
  
  .button_1{
    height:38px;
    background:#005b96;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
    border-radius: 5px;
    margin-right: 380px;
    cursor: pointer;
  
  }
  
  .about{
    padding:15px;
    background:#6497b1;
    color:#ecb939;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  /* Header **/
  header{
    background:#000000;
    color:#ffffff;
    padding-top:15px;
    padding-bottom: 10px;
    min-height:70px;
    border-bottom:#6497b1 3px solid;
  }
  
  header a{
    color:#6497b1;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 30px 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#005b96;
    font-weight:bold;
  }
  
  header a:hover{
    color:#b3cde0;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    min-height:500px;
    background:url('../img/show.jpg') no-repeat 0 -1900px;
    text-align:center;
    color:#ffffff;
    padding: 30px;
    padding-top: 70px;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }
  
  /* Newsletter */
  #newsletter{
    padding:15px;
    color:#ffffff;
    background:#372e29;
  }
  
  #newsletter h1{
    float:left;
  }
  
  #newsletter form {
    float:right;
    margin-top:15px;
  }
  
  #newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
  }
  
  /* Boxes */
  #boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box img{
    width:90px;
    height: 80px;
    width: 130px;
    cursor: pointer;
  }
  
  
  
  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }
  
  /* Services */
  ul#services li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
  }
  
  footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#000000;
  }
  
  /* Media Queries */
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
  
  
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  
  /* SUBCRIBE */
  
  
  }
  
  input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
  }
  
  input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  input[type=submit] {
      width: 100%;
      background-color: #6497b1;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  input[type=submit]:hover {
      background-color:#005b96 ;
  }
  
  div {
      border-radius: 5px;
      padding: 20px;
  }
  
  .subscribe {
    text-align: center;
  }
  
  #copy {
    text-align: center;
  }